

<div class="container search">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#contains">Contains</a></li>
                      <li><a href="#its_equal">It's equal</a></li>
                      <li><a href="#greather_than">Greather than ></a></li>
                      <li><a href="#less_than">Less than < </a></li>
                      <li class="divider"></li>
                      <li><a href="#all">Anything</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
	</div>
</div>

<div class="d-flex flex-wrap justify-content-around">

  <div *ngFor="let recipe of recipes" class="img-wrapper m-1 border"  [routerLink]="['recipe-detail']">
    <a routerLink="/detail/{{recipe.id}}">
      <div class="img-container">
        <img src="assets/images/{{recipe.img}}" class="img-responsive d-block fit-image">
        <span class ="badge">{{recipe.id}}</span> {{recipe.name}}
        <div class="">
          <span class="material-icons">access_time</span>
          <span>{{recipe.duration}} Minuten</span>
          <div class="float-right">
            <i class="material-icons">face</i>
            <span> {{recipe.level}} </span>
            <ul>
              <li *ngFor="let nut of recipe.nutrition">
                {{ nut }}
              </li>
            </ul>
                    <!-- <div *ngFor="let nutrition of {{recipe.nutrition}}"> nutrition</div> -->
          </div>
        </div>

      </div>
    </a>
  </div>

</div>

<div *ngIf="selectedRecipe">
  <h2>{{selectedRecipe.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedRecipe.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedRecipe.name" placeholder="name"/>
    </label>
  </div>
</div>

<div class="">
  <button type="button" name="button">Mehr Rezepte anzeigen</button>
</div>
