
<div class="container">
  <h2 class="text-center p-3">{{recipe.name}}</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>

<div class="d-flex flex-wrap justify-content-around">

  <div class="img-container">

      <img class="center-block img-responsive mw-100 mh-100 p-5" src="assets/images/{{recipe.img}}">

  </div>

  <div class="ingredients container text-center">
    <h2>Zutaten</h2>
    <div class="number">
    	<span class="minus">-</span>
    	<input type="text" value="1"/>
    	<span class="plus">+</span>
    </div>
    <div class="p-4 font-italic">

      <div class="row">
        <div class="col text-right">
          200 Gramm
        </div>
        <div class="col text-left">
          <p>geriebener Streukäse</p>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          300 Gramm
        </div>
        <div class="col text-left">
          <p>Tomaten</p>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          50 ml
        </div>
        <div class="col text-left">
          <p>Souce Hollondaise</p>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          50 gramm
        </div>
        <div class="col text-left">
          <p>Madelmehl</p>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          2 Blätter
        </div>
        <div class="col text-left">
          <p>Basilikum</p>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          50 ml
        </div>
        <div class="col text-left">
          <p>Mozarella</p>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          100 ml
        </div>
        <div class="col text-left">
          <p>Tomatensouce</p>
        </div>
      </div>

    </div>

  </div>

  <div class="wrapper d-flex">
    <div class="btn btn-light">
      Kalorien 500kcal
    </div>
    <div class="btn btn-light">
      Kohlenhydrate 5g
    </div>
    <div class="btn btn-light">
      Eiweiss 10g
    </div>
    <div class="btn btn-light">
      Fette 20g
    </div>

  </div>


    <div class="container d-flex flex-wrap justify-content-around py-5">
      <a href="#" class="btn btn-dark">Vegetarisch</a>
      <a href="#" class="btn btn-dark">Pizza</a>
      <a href="#" class="btn btn-dark">Schnell</a>
      <a href="#" class="btn btn-dark">Vorwerk</a>
      <a href="#" class="btn btn-dark">Herzhaft</a>
      <a href="#" class="btn btn-dark">Köstlich</a>
      <a href="#" class="btn btn-dark">Vegan</a>
      <a href="#" class="btn btn-dark">Gemüse</a>
      <a href="#" class="btn btn-dark">Ballaststoffe</a>
      <a href="#" class="btn btn-dark">Proteinreich</a>
    </div>

  <div class="text-center pt-5">
    <div class="d-flex justify-content-around">
      <div>
        Vorbereitungszeit: 15min
      </div>
      <div>
        Zubereitungsszeit: 15min
      </div>
    </div>
    <h2>Zubereitung</h2>

    <div class="text-left p-5">
      <p>
        1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        4. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      </div>
  </div>


</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.minus').click(function () {
      var $input = $(this).parent().find('input');
      var count = parseInt($input.val()) - 1;
      count = count < 1 ? 1 : count;
      $input.val(count);
      $input.change();
      return false;
    });
    $('.plus').click(function () {
      var $input = $(this).parent().find('input');
      $input.val(parseInt($input.val()) + 1);
      $input.change();
      return false;
    });
  });
</script>
