<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 dual-collapse2">
    <ul class="navbar-nav mr-auto navbar-left">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipe-detail">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes">Rezepte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipe-detail">Rezepte-Detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse dual-collapse2">

      <!-- <ul class="container h-100 navbar-nav navbar-right">
        <li>
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
          </li>
      </ul> -->
      <ul class="container h-100 navbar-nav navbar-right">
        <li>
          <input type="text" class="form-control rounded-0 bg-dark ser-input" id="ser-input" placeholder="Search...">
      </li>
      </ul>
    </div>
</nav>
